body {
    margin: 0;
    padding: 0;
    text-align: center;
    background: #F0F0F0;
}


.navbar-toggler:focus {
    box-shadow: none;
}

#mynav ul {
    margin: 0% auto;
    font-family: 'Rubik', sans-serif;
    font-weight: 500;
    text-transform: uppercase;
}

#home img[alt="dog image"] {
    position: relative;
    left: 16.82%;
    top: 5%;
    width: 44.75%;
}

#home img[alt="ellipse 2"] {
    position: absolute;
    left: 48.63%;
    bottom: -2%;
    width: 50.16%;
}

#home img[alt="ellipse 1"] {
    position: absolute;
    left: 29.6%;
    top: -16%;
    width: 31.16%;
    z-index: -1;
}

.home-des {
    position: absolute;
    bottom: 30%;
    left: 4%;
    width: 35%;
    text-align: left;
}

.home-des p {
    font-family: 'Rubik', sans-serif;
}

.home-des button {
    background-color: #F2968F;
    box-shadow: 1px 0px 5px black;
    padding: 2% 16%;
}

.home-des button:hover {
    background-color: #f2827a;

}

/* ---------👇👇👇👇👇 new changes */

.about {
    position: absolute;
    background-color: white;
    background-image: url(../images/Union.png);
    width: 100%;
    top: 94%;
    left: 0%;
    border-top: 4px solid #F2968F;
    box-shadow: 0px -1px 8px black;
}

.about-us {
    position: relative;
}

.about img[alt="ellipse 3"] {
    position: relative;
    margin: 4% 0%;
    left: -25%;
    width: 27.12%;
}

.about img[alt="dog image2"] {
    position: absolute;
    top: 16%;
    left: 17.5%;
    width: 15.95%;

}

.about-us>p {
    font-family: 'Rubik', sans-serif;
    font-weight: 600;
    margin: 0;
    position: absolute;
    left: 40%;
    top: 38%;
    text-transform: uppercase;
}

.about-us>div {
    position: absolute;
    left: 17%;
    top: 56%;
    background-color: #DEC1E9;
    width: 65%;
    padding: 1% 4% 1% 1%;
    text-align: left;
    box-shadow: 6px 2px 4px rgba(0, 0, 0, 0.25);
}

.about-us>div>p {
    margin: 0;
    padding-left: 26%;
    font-size: 1.2rem;
    font-family: 'Rubik', sans-serif;
}


/* -----------about section ----------------- */
.b2-div {
    box-sizing: border-box;
    margin-top: 250px;
    /* padding-top: 13.9%; */
    padding-top: 250px;
    background-color: #E27971;
}

.b2-img-div {
    position: relative;
    padding-left: 10%;
}

.b2-img-div img[alt="boy and dog"] {
    width: 80%;
}

.b2-img-div img[alt="ellipse 4"] {
    position: absolute;
    left: 16%;
    width: 20%;
}

.b2-img-div img[alt="1"] {
    position: absolute;
    left: 21%;
    top: 4%;
    width: 6%;
}

.b2-des,
.b3-des {
    position: relative;
    padding: 10% 4%;
    text-align: left;
}

.b2-des h2,
.b3-des h2 {
    text-transform: uppercase;
    font-family: 'Rubik', sans-serif;
}

.b2-des p,
.b3-des p {
    font-family: 'Rubik', sans-serif;
}

.b3-div{
    background-color: 
    #7383D9;
}
.b3-img-div {
    position: relative;
    padding-right: 10%;
    padding-top: 10%;
}

.b3-img-div img[alt="cat image"] {
    width: 80%;

}

.b3-img-div img[alt="ellipse 5"] {
    position: absolute;
    left: 65%;
    width: 20%;
}

.b3-img-div img[alt="2"] {
    position: absolute;
    left: 71%;
    top: 17%;
    width: 7%;
}








/* media queries */

/* -----none------------ */
@media (max-width:576px) {
    #mynav ul {
        font-size: .7rem !important;
        width: 30%;
        text-align: left;
        margin: 0;
        padding: 2% 0;
    }

    #mynav li:nth-child(2n) {
        display: none;
    }

    .home-des {
        bottom: 10%;
    }

    .home-des p {
        font-size: 1rem !important;
    }

    .about-us>p {
        font-size: 0.9rem !important;
    }

    .about-us>div>p {
        font-size: .68rem;
    }

    /* ------👇👇👇👇👇👇 new changes---- */
    .b2-div {
        margin-top: 50px;
        padding-top: 25%;
    }

    .b2-img-div {
        padding: 0;
        width: 50%;
        margin: 0% auto;
    }

    .b2-des,
    .b3-des {
        text-align: center;
        width: 80%;
        margin: 0% auto;
    }

    .b2-des h2,
    .b3-des h2 {
        font-size: 1.5rem !important;
    }

    .b2-des p,
    .b3-des p {
        font-size: 0.9rem !important;
        text-align: justify;
    }
    .b3-img-div {
        width: 50%;
        padding: 0%;
        margin: 0% auto;
    }

    .b3-img-div img[alt="ellipse 5"] {
        position: absolute;
        left: 70%;
        width: 20%;
    }
    .b3-img-div img[alt="2"] {
        left: 76%;
        top: 6%;
    }


}

/* ------sm--------- */
@media (min-width:576px) and (max-width:768px) {
    #mynav ul {
        font-size: 1rem !important;
        width: 30%;
        text-align: left;
        margin: 0;
        padding: 2% 0;
    }

    #mynav li:nth-child(2n) {
        display: none;
    }

    .home-des {
        bottom: 10%;
    }

    .home-des p {
        font-size: 1rem !important;
    }

    .about-us>p {
        font-size: 1.4rem !important;
    }

    .about-us>div>p {
        font-size: .8rem;
    }

    /* ------👇👇👇👇👇👇 new changes---- */
    .b2-div {
        margin-top: 100px;
        padding-top: 180px;
    }

    .b2-img-div {
        padding: 0;
        width: 50%;
        margin: 0% auto;
    }

    .b2-des,
    .b3-des {
        text-align: center;
        width: 80%;
        margin: 0% auto;
    }

    .b2-des h2,
    .b3-des h2 {
        font-size: 1.8rem !important;
    }

    .b2-des p,
    .b3-des p {
        font-size: 1.2rem !important;
        text-align: justify;
    }

    .b3-img-div {
        width: 50%;
       padding: 0%;
        margin: 0% auto;
    }
    .b3-img-div img[alt="ellipse 5"] {
        position: absolute;
        left: 70%;
        width: 20%;
    }
    .b3-img-div img[alt="2"] {
        left: 76%;
        top: 6%;
    }




}






/* -------md--------- */
@media (min-width:768px) and (max-width:992px) {

    /* ------👇👇👇👇👇👇 new changes---- */
    .b2-div {
        margin-top: 170px;
        padding-top: 160px;
    }

    .b2-des,
    .b3-des {
        padding-top: 6.8%;
    }

    .b2-des h2,
    .b3-des h2 {
        font-size: 1.3rem !important;
    }

    .b2-des p,
    .b3-des p {
        font-size: 1rem !important;
    }
}

/* -------lg------ */
@media (min-width:992px) and (max-width:1200px) {
    /* ------👇👇👇👇👇👇 new changes---- */

    .b2-div {
        padding-top: 150px;
    }

    .b2-des h2,
    .b3-des h2 {
        font-size: 1.5rem !important;
    }

    .b2-des p,
    .b3-des p {
        font-size: 1.1rem !important;
    }
}

/* -------xl----- */
@media (min-width:1200px) and (max-width:1400px) {
    /* ------👇👇👇👇👇👇 new changes---- */

    .b2-des h2,
    .b3-des h2 {
        font-size: 1.8rem !important;
    }

    .b2-des p,
    .b3-des p {
        font-size: 1.3rem !important;
    }
}